<h1>新增候选人</h1>

<%= form_for(@candidate) do |f| %>
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name %> </br>

  <%= f.label :age, "年龄" %>
  <%= f.text_field :age %> </br>

  <%= f.label :policy, "政党"%>
  <%= f.text_field :policy %> </br>

  <%= f.label :text, "宣言" %>
  <%= f.text_area :text %> </br>

  <%= f.submit%>
<% end %>

<%= link_to "返回首页", candidates_path %>
